<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{users_html}}

    <table>
        <tr>
          <th scope="col">#</th>
          {% for element in users_html[0].keys() %}
            <th scope="col">{{element}}</th>
          {% endfor %}
        </tr>

        <tbody>
          {% for user in users_html %}
            <tr scope="row">
              <td>{{loop.index}}</td>
              {% for element in user.values() %}
                <td>{{element}}</td>
                {% endfor %}
                <td><a href="{{url_for('delete_user', id = user.id)}}">Delete</a></td>
                <td><a href="{{url_for('edit_user', id = user.id) }}">Edit</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

</body>
</html>